body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

h2 {
  color: #D7E9F1;
  display: inline-block;
  font-family: 'ralewayregular', sans-serif;
  padding: 25px 0;
  -webkit-margin-start: 0.3em;
}

h2::first-letter {
  font-size: 150%;
  font-weight: 100;
}

.brand-logo {
  bottom: 0.5px;
}

.logo {
  display: inline-block;
  margin: 0;
  width: 140px;
  border-radius: 50%;
  padding: 15px 0 5px 0;
}

.logoSmall {
  border-radius: 50%;
  display: inline-block;
  margin: 0;
  width: 55px;
  position: relative;
  top: 17px;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  top: 200px;
}
div {
  text-align: center;
}

.line {
  /*border-top: 2px solid #562d31;
  border-bottom: 2px solid #562d31;*/
  background-color: rgba(99, 39, 45, 0.4);
  border-radius: 5px 50px 5px 50px;
}

.line:hover {
  cursor: pointer;
}

.rotated {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  position: relative;
  top: 10px;
}

.poem {
  font-family: 'ralewayregular';
  position: relative;
  bottom: 150px;
  width: 1050px;
}

nav {
  background-color: rgba(99, 39, 45, 0.6);
  font-family: 'ralewayregular', sans-serif;
  opacity: 0.0;
}

.nav-wrapper {
  margin-left: 10px;
}

.foot {
  padding-left: 20px;
}

.image {
  background-image: none;
  background-size: cover;
  background-repeat: none;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@font-face {
    font-family: 'ralewayregular';
    src: url( 'fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bookerlyregular';
    src: url('fonts/bookerly-regular-webfont.woff2') format('woff2'),
         url('fonts/bookerly-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
