body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

h2 {
  color: #D7E9F1;
  display: inline-block;
  font-family: 'ralewayregular', sans-serif;
  padding: 25px 0;
  -webkit-margin-start: 0.3em;
}

h4 {
  color: #fff;
  font-family: 'ralewayregular', sans-serif;
}

h4:first-of-type {
  margin-top: 50px;
}

h2::first-letter {
  font-size: 150%;
  font-weight: 100;
}

p {
  font-family: "Avenir Next";
  color: #fff;
  font-size: 140%;
  font-weight: lighter;
  line-height: 20px;
}

.dot {
  box-shadow: inset 0 0 0 3px #fff;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  margin: 0 auto;
  margin: 10px 5px;
  position: relative;
  width: 30px;
  box-sizing: border-box;
}

.dot:hover {
  background: #fff;
  box-shadow: none;
}

.load{
  position: relative;
  top: 180px;
  opacity: 0;
}

/*.active {
  background: #fff;
  box-shadow: none;
  opacity: 1;
}*/

.brand-logo {
  bottom: 0.5px;
}

.logo {
  display: inline-block;
  margin: 0;
  width: 140px;
  border-radius: 50%;
  padding: 15px 0 5px 0;
}

.logoSmall {
  border-radius: 50%;
  display: inline-block;
  margin: 0 auto;
  width: 55px;
  position: relative;
  top: 17px;
  right: 15px;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  top: 200px;
}
div {
  text-align: center;
}

.poem {
  background-color: rgba(190, 160, 164, 0.90);
  border-radius: 5px 50px 5px 50px;
  display: none;
  line-height: 10px;
  height: 500px;
  position: fixed;
  top: 150px;
  overflow: scroll;
  opacity: 0.0;
}

.line {
  background-color: rgba(99, 39, 45, 0.6);
  border-radius: 5px 50px 5px 50px;
}

.line:hover {
  cursor: pointer;
}

.rotated {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  position: relative;
  top: 10px;
}

nav {
  background-color: rgba(99, 39, 45, 0.6);
  font-family: 'ralewayregular', sans-serif;
  opacity: 0.0;
}

footer {
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 12 px;
  /*background-color: rgba(99, 39, 45, 0.1);*/
  opacity: 0.0;
}

.nav-wrapper {
  margin-left: 20px;
}

.image {
  background-size: cover;
  background-repeat: none;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.image1 {
  background-image: none;
}

.image2 {
  background-image: none;
}

.image3 {
  background-image: none;
}

@font-face {
    font-family: 'ralewayregular';
    src: url( 'fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@media @media (max-width: 992px) {

}
