h2 {
  color: #562d31;
  display: inline-block;
  font-family: 'ralewayregular';
  padding: 25px 0;
  -webkit-margin-start: 0.3em;
}

h2::first-letter {
  font-size: 150%;
  font-weight: 100;
}

.logo {
  display: inline-block;
  margin: 0;
  width: 140px;
  border-radius: 50%;
  padding: 15px 0 5px 0;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  top: 200px;
}
div {
  text-align: center;
}

.lines {
  border-top: 2px solid #562d31;
  border-bottom: 2px solid #562d31;
}

.lines:hover {
  cursor: pointer;
}

.rotated {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  position: relative;
  top: 10px;
}

@font-face {
    font-family: 'ralewayregular';
    src: url( 'fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
